.container {
  padding: 24px;
  max-width: 400px;
  font-family: Georgia, "Times New Roman", serif;
  background: none;
  border: none;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 16px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

li {
  font-size: 18px;
  line-height: 1.4;
}

button {
  display: none;
}
