body {
  margin: 0;
  padding: 40px 0;

  background-color: #f7f7f7;
  font-family: "TT Norms", "Inter", Arial, sans-serif;
  font-size: 22px;
  color: #000;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin-top: 80px;
  font-family: "TT Norms", "Inter", Arial, sans-serif;
}

.container input {
  width: 340px;
  padding: 14px 18px;

  border: 2px solid #d9d9d9;
  border-radius: 6px;

  font-size: 16px;
  transition: border-color 0.25s ease;
}

.container input:focus {
  border-color: #ffdd2d;
  outline: none;
}

.container button {
  width: 340px;
  padding: 14px;
  background-color: #ffdd2d;
  color: #000;
  border: none;
  border-radius: 6px;

  font-size: 18px;
  font-weight: 600;
  cursor: pointer;

  transition: background 0.2s ease;
}

.container button:hover {
  background-color: #f2c800;
}

.container br {
  display: none;
}

input {
  padding: 14px 18px;

  width: 280px;

  border-radius: 6px;
  border: 2px solid #d9d9d9;

  font-size: 18px;
  color: #000;
  background: #ffffff;

  transition: border-color 0.25s ease;
  margin-right: 20px;
}

input:focus {
  outline: none;
  border-color: #ffdd2d;
}

button {
  padding: 16px 26px;
  width: 280px;

  border: none;
  border-radius: 6px;

  background-color: #ffdd2d;
  color: #000;

  font-size: 18px;
  font-weight: 700;
  cursor: pointer;

  transition: background 0.25s ease;
}

button:hover {
  background-color: #f5c900;
}

button:active {
  background-color: #e0b700;
}

input,
button {
  width: 300px;
  max-width: 100%;
}

@media (max-width: 480px) {
  input,
  button {
    width: 90%;
  }
}
