.icon-container {
  width: 3.75rem;
  height: 3.75rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container:hover {
  transform: translateY(-10px);
}

.icon-svg {
  width: 100%;
  height: 100%;
  fill: #1ed760; /* зелёный */
  transition: fill 0.3s ease;
}

.icon-container:hover .icon-svg {
  fill: #1181f1; /* твой голубой */
}

/* АПТИВ */
@media (max-width: 900px) {
  .icon-container {
    width: 2.75rem;
    height: 2.75rem;
  }
}
