.container {
  padding: 24px;
  border: 2px solid gray;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: rgb(34, 33, 33);
}

.container input {
  padding: 8px;
  border-radius: 4px;
  border: none;
}