.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  min-height: 100vh;
  background: linear-gradient(135deg, #becdd8 0%, #dfe7ec 50%, #f7f9fb 100%);

  font-family: "Inter", "Roboto", sans-serif;
  font-size: 22px;
  letter-spacing: 0.5px;

  color: #2c3e50;
  padding: 20px;
}
